{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Info {% endblock %}
{% block body %}
{{parent()}}


<div class="container">
  <h1 class="display-3">For Honor ? </h1>
  <p class="lead">For honor est un jeu médiéval proposant un système un système de combat unique et innovant basé sur 3 cotés utilisés pour réaliser des attaques et se défendre ...</p>
  <h2>Voici la vidéo de présentation du jeu à l'E3 en 2015</h2>
  
  <hr class="my-4">
  <iframe width="880" height="550" src="https://www.youtube.com/embed/y1HkuGUaNBY" frameborder="5" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br/> <br/> 
<h2>Voici ensuite une vidéo de présentation de gameplay </h2>

<br/>
<iframe width="880" height="550" src="https://www.youtube.com/embed/jgvXnDuvj-g?start=38" frameborder="5" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 

</div>
{% endblock %}